<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feng.RSS"
          android:versionCode="1"
          android:versionName="服务机器人平板端单机测试版">

    <!-- 网络操作 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 开机自动启动? -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 文件操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 使用USB 主模式 -->
    <uses-feature android:name="android.hardware.usb.host"/>

    <!-- application中设置全部界面为 全屏、无标题栏 并将默认启动的APP改为从 RobotApplication启动 -->
    <application
            android:name="com.feng.RobotApplication"
            android:allowBackup="true"
            android:icon="@drawable/face_laugh"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

        <!-- 每个activity中设置 当前界面为 横屏 landscape -->
        <activity
                android:name="com.feng.Activities.TestActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.LoadingActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter"/>
        </activity>
        <activity
                android:name="com.feng.Activities.MenuActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditWorkspaceActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditMapActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditRcsActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditArmActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditSpeakerActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditVersionActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.Activities.EditPwdActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name="com.feng.SelfCheck.SelfCheckActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>

        <!--
            <service
                android:name="com.feng.ServiceCOR.CorServerService"
                android:persistent="true"/>
        <service
                android:name="com.feng.Usb.ArmUsbManager"
                android:persistent="true"/>
        -->
        <service
                android:name="com.feng.SpeechRecognize.IatService"
                android:persistent="true">
        </service>

        <receiver android:name="com.feng.Receiver.AutoRunBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
                android:name="com.feng.Activities.SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>